<h2>Hello <%= @law_firm.company_name %></h2>
<p>You have a new incident report from <%= "#{@user.first_name} #{@user.last_name}" %></p>
<p>Details:</p>
<ul>
  <li> <b>Description: </b><%= @incident_report.description %></li>
  <li><b>Resources involved:</b>
    <% if @incident_report.police_involved == true and @incident_report.ambulance_involved == false %>
      Police
    <% elsif @incident_report.police_involved == false and @incident_report.ambulance_involved == true %>
      Ambulance
    <% elsif @incident_report.police_involved == true and @incident_report.ambulance_involved == true %>
      Police and Ambulance
    <% else %>
      None
    <% end %>
  </li>
  <li><b>Private health</b>
    <% if @incident_report.private_health == true %>
      Yes
    <% else %>
      No
    <% end %>
  </li>
  <% if @incident_report.additional_information != "" %>
    <li><b>Additional information: </b><%= @incident_report.additional_information %></li>
  <% end %>
  <li><b>Location:</b></li>
</ul>
<iframe width="400" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= "#{@incident_report.address}, #{@incident_report.city}, #{@incident_report.state}" %>&key=AIzaSyBgtIXhRRr5VO_FBRgQSycpmVaSnms8Spc" allowfullscreen></iframe>
