<h2>Hello <%= @law_firm.company_name %></h2>
<p>You have a new incident report from <%= "#{@user.first_name} #{@user.last_name}" %></p>
<p>Details:</p>
<ul>
  <li> <b>Description: </b><%= @incident_report.description %></li>
  <li><b>Date: </b><%= @incident_report.date %></li>
  <li><b>Resources involved:</b>
    <% if @incident_report.police_involved == true and @incident_report.ambulance_involved == false %>
      Police
    <% elsif @incident_report.police_involved == false and @incident_report.ambulance_involved == true %>
      Ambulance
    <% elsif @incident_report.police_involved == true and @incident_report.ambulance_involved == true %>
      Police and Ambulance
    <% else %>
      None
    <% end %>
  </li>
  <li><b>Private health</b>
    <% if @incident_report.private_health == true %>
      Yes
    <% else %>
      No
    <% end %>
  </li>
  <% if @incident_report.additional_information != "" %>
    <li><b>Additional information: </b><%= @incident_report.additional_information %></li>
  <% end %>
  <li><b>Location: </b><%= "#{@incident_report.address}, #{@incident_report.city}, #{@incident_report.state}" %></li>
</ul>
<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= "#{@incident_report.address},+#{@incident_report.city},+#{@incident_report.state}" %>&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyAv1xIhchPDh7F89aQlCEFm_qrtPdb6m98" alt="">
