<h2>Edit Incident Report</h2>

<form class="" action="/incident_reports/<%= @incident_report.id %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="put">
  <label>Description</label>
  <input type="text" name="description" value="<%= @incident_report.description %>"><br>
  <label>Location</label>
  <input type="text" name="location" value="<%= @incident_report.location %>"><br>
  <label>Date</label>
  <input type="date" name="date" value="<%= @incident_report.date %>"><br>
  <label>Police involved</label>
  <input type="text" name="police_involved" value="<%= @incident_report.police_involved %>"><br>
  <label>Ambulance involved</label>
  <input type="text" name="ambulance_involved" value="<%= @incident_report.ambulance_involved %>"><br>
  <label>Private health</label>
  <input type="text" name="private_health" value="<%= @incident_report.private_health %>"><br>

  <button type="submit">Update</button>
</form>

<form class="" action="/incident_reports/<%= @incident_report.id %>" method="get">
  <button type="submit">Cancel</button>
</form>
