<h2>Edit Incident Report</h2>

<form class="" action="/incident_reports/<%= @incident_report.id %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="put">
  <label>Description</label>
  <input type="text" name="description" value="<%= @incident_report.description %>"><br>
  <label>Address</label>
  <input type="text" name="address" value="<%= @incident_report.address %>"><br>
  <label>City</label>
  <input type="text" name="city" value="<%= @incident_report.city %>"><br>
  <label>State</label>
  <input type="text" name="state" value="<%= @incident_report.state %>"><br>
  <label>Postcode</label>
  <input type="text" name="postcode" value="<%= @incident_report.postcode %>"><br>
  <label>Date</label>
  <input type="date" name="date" value="<%= @incident_report.date %>"><br>
  <label>Police involved</label>
  <input type="text" name="police_involved" value="<%= @incident_report.police_involved %>"><br>
  <label>Ambulance involved</label>
  <input type="text" name="ambulance_involved" value="<%= @incident_report.ambulance_involved %>"><br>
  <label>Private health</label>
  <input type="text" name="private_health" value="<%= @incident_report.private_health %>"><br>
  <label>Additional information</label>
  <input type="text" name="additional_information" value="<%= @incident_report.additional_information %>"><br>

  <button type="submit">Update</button>
</form>

<form class="" action="/incident_reports/<%= @incident_report.id %>" method="get">
  <button type="submit">Cancel</button>
</form>
