<p class='location'>{{ location }}</p>
<p class='date'>{{ date }}</p>
<p class='description'>{{ description }}</p>
<p class='police_involved'>{{ police_involved }}</p>
<p class='ambulance_involved'>{{ ambulance_involved }}</p>
<p class='private_health'>{{ private_health }}</p>
<p class='additional_information'>{{ additional_information }}</p>
<hr>
